@{
    ViewBag.Title = "About";
}

@section Aside {
    @Html.Action("Timeline", "Twitter")
}

<div class="wrapper">

    <section class="intro">
        <p>
            I am Greg.
            I write software.
            For a marketing company.
            I cook.
            For fun.
            &#31169;&#12399;&#26085;&#26412;&#35486;&#12434;&#35441;&#12377;&#12290;
            Badly.
        </p>
    </section>

    <section class="topic left blog">
        <div class="wrapper">
            <div class="header">
                <h3><a href="http://falquan-disc.cloudapp.net">O-BLOG-itory</a></h3>
            </div>
            <div>
                <p>
                    Well, the connector to <a href="http://www.discourse.org/">Discourse</a> isn't done yet.
                    So for now, here's a <a href="http://falquan-disc.cloudapp.net">link</a>.
                    Just use it, man. Be a team player.
                </p>
                <p>
                    Also, I know, <a href="http://www.discourse.org/">Discourse</a> is forum/discussion software, not a blog platform.
                    But I tend to blog about a weird smattering of topics, which is bad for normal blog software, and gosh darn it, I like the platform.
                    Also, it's open source so I can always modify it to suit my needs.
                    But it's pretty cool as is.
                </p>
                <p>
                    Also, previous entries will be available. Eventually. Until then, just use the <a href="http://web.archive.org/web/20110605050626/http://www.falquan.com/">Wayback Machine</a> to see how dumb I can be over a few years.
                    I promise to bring even more dumb once all this blog stuff is up and running.
                </p>
            </div>
        </div>
    </section>

    <section class="topic right things">
        <div class="wrapper last">
            <div class="header">
                <h3>What Would You Say You Do Here?</h3>
            </div>
            <div>
                <p>
                    First and foremost, I'm a software engineer.
                    I write the things that make things go.
                    Sometimes not go, when I'm having a bad day.
                    I generally align to the .NET stack, but I've been known to branch out now and again.
                </p>
                <p>
                    I am an unapologetic foodie.
                    At <a href="http://www.epicuriouswhores.com/">Epicurious Whores</a>, I (along with friends) blog about my successes and failures in my own little culinary world.
                    It's pretty raw (ha!), so maybe have the kids leave the room.
                </p>
                <p>
                    Like most of us, I enjoy an adult beverage or too many on any occasion.
                    After learning to brew my own beer, I created <a href="http://www.brewver.com/">Brewver</a> in order to keep track of my brewing recipes.
                    Maybe it'll help you keep track of yours.
                </p>
            </div>
        </div>
    </section>

    <section class="topic left happy">
        <div class="wrapper">
            <div class="header">
                <h3>Down the 'Tubes</h3>
            </div>
            <div>
                <p>
                    I love the Internets. They are filled with wonderous things.
                </p>
                <p>
                    Being a software engineer who just happens to work for a marketing company, the vast majority of <a href="http://thisadvertisinglife.tumblr.com">This Advertising Life</a> seems to apply to my daily life.
                    It probably applies to yours, too.
                </p>
                <p>
                    Two of my major hobbies include food and beverage.
                    What happens when you combine them, and add in an extremely personable host?
                    <a href="http://www.youtube.com/user/MyHarto">My Drunk Kitchen</a> happens.
                    I'm just jealous I didn't record my kitchen inebreation earlier...
                </p>
            </div>
        </div>
    </section>

    <section class="topic right talk">
        <div class="wrapper last">
            <div class="header">
                <h3>Keepin' Up With the Falquan</h3>
            </div>
            <div>
                <p>
                    Falquan is a pseudonym I came up with years ago when I started playing <a href="http://www.playonline.com/ff11us/index.shtml">Final Fantasy XI</a>.
                    It stuck.
                    Greg Leppert is my real name.
                    It's pretty easy to track me down.
                    Just <a href="http://lmgtfy.com/?q=falquan">Google</a> <a href="http://lmgtfy.com/?q=greg+leppert">it</a>.
                    Oh, but I'm the one from Cleveland.
                </p>
                <p>
                    I'm on the Twitters <a href="https://twitter.com/falquan">@@Falquan</a>, or the <a href="https://www.facebook.com/leppert.greg">FaceSpaces</a>.
                    If you're looking for something a little more "professional" with less LOLs, perhaps my <a href="http://www.linkedin.com/pub/greg-leppert/6/5b0/402/">LinkedIn</a> is more your speed.
                </p>
                <p>
                    Or, you can write me a neat little email with the @Html.ActionLink("Contact", "Contact") form.
                    Also, 1998 called.
                    It wants its technology back.
                </p>
                <p>
                    Or don't contact me at all. You do whatever you want to do.
                </p>
            </div>
        </div>
    </section>
</div>